<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script type="text/javascript" th:src="@{/js/check.js}"></script>-->
</head>
<body>
<div class="content" layout:fragment="content">
    <h4>로그인</h4>
    <form id="frm" name="frm" class="container"  th:action="@{/login}" method="post" >
        <div class="mb3">
            <label class="form-label">사용자ID</label>
            <input  id="username" name="username" type="text" class="form-control">
        </div>
        <div class="mb3">
            <label class="form-label">비밀번호</label>
            <input  id="password" name="password" type="password"
                    class="form-control">
        </div>
        <input type="submit" value="로그인" class="btn btn-primary" >
    </form>
</div>
</body>
</html>