<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        <tr th:each="article : ${dto}" th:object="${article}">
            <td th:text="*{id}">1</td>
            <td>
                <a th:href="@{articles/show/{id}(id=*{id})}"  th:text="*{title}"></a>
            </td>
            <td th:text="*{content}">내용1</td>
        </tr>
    </table>
</div>
</body>
</html>